<div class="container">
  <div class="wrapper">
    <%= render partial:'lessons_banner', object: @lesson %>
    <div class="short-lesson-info">
      <div class="left-info">
        <h5>#<%= @lesson.style %></h5>
      </div>
      <div class="right-info">
        <div class="duration-display">
          <i class="far fa-clock"></i>
          <h5> <%= @lesson.duration %> minutes</h5>
        </div>
        <div class="difficulty-stars">
          <% @lesson.difficulty.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5-@lesson.difficulty).times do %>
            <i class="far fa-star"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="desc-and-booking">
      <div class="desc">
        <h5>Short Description: </h5>
        <p><%= @lesson.description %></p>
      </div>
      <div class="booking">
        <div class="detail-confirmation text-center">
          <h4><%= @lesson.name %></h4>
          <h4>by Name</h4>
        </div>
        <div class="price"><h5>$<%= @lesson.price %> per hour</h5></div>
        <div class="form-wrapper">
          <%= render 'booking_form', lesson: @lesson, booking: @booking %>
          <%= render 'modal', lesson: @lesson, booking: @booking %>
        </div>
      </div>
    </div>
    <div class="map-container" id="map" data-markers=<%= @markers.to_json %>></div>
  </div>
</div>
